In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("Titanic-Dataset.csv")
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [24]:
bins = [0, 2, 12, 19, 35, 59, 100]
labels = ["Infants", "Children", "Teenagers", "Young Adults", "Middle-aged", "Elderly"]
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)
df[["Age", "AgeGroup"]].head()

    Age      AgeGroup
0  22.0  Young Adults
1  38.0   Middle-aged
2  26.0  Young Adults
3  35.0  Young Adults
4  35.0  Young Adults

In [25]:
df["AgeGroup"].value_counts()

AgeGroup
Young Adults    333
Middle-aged     191
Teenagers        95
Children         45
Elderly          26
Infants          24
Name: count, dtype: int64

In [26]:
print(df.groupby(['AgeGroup', 'Pclass']).size())

AgeGroup      Pclass
Infants       1           2
              2           7
              3          15
Children      1           2
              2          10
              3          33
Teenagers     1          17
              2          18
              3          60
Young Adults  1          61
              2          88
              3         184
Middle-aged   1          87
              2          46
              3          58
Elderly       1          17
              2           4
              3           5
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_9184\832004701.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(['AgeGroup', 'Pclass']).size())

In [33]:
print(df.groupby("Pclass").size())

Pclass
1    216
2    184
3    491
dtype: int64

In [32]:
print(df.groupby("AgeGroup").size())

AgeGroup
Infants          24
Children         45
Teenagers        95
Young Adults    333
Middle-aged     191
Elderly          26
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_9184\2255584479.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby("AgeGroup").size())

In [31]:
from scipy.stats import chisquare
chisquare([2, 2, 17, 61, 87, 17, 7, 10, 18, 88, 46, 4, 15, 33, 60, 184, 58, 5], f_exp= [6.25, 11.72, 24.7, 86.74, 49.7, 6.8, 5.8, 10.9, 23, 80.7, 46.27, 6.42, 11.9, 22.4, 47.2, 165.6, 95, 12.9])
# print("Chi-square statistic:", chi2_stat)
# print("p-value:", p_value)
# if p_value < 0.05:
#     print("Есть статистически значимая разница между наблюдаемыми и ожидаемыми частотами.")
# else:
#     print("Нет статистически значимой разницы.")

Power_divergenceResult(statistic=np.float64(97.85523596913951), pvalue=np.float64(2.217870029131764e-13))